<header>
    <nav class="navbar navbar-expand-lg navbar-light nav-gov">
  
        <img class="icon-gov" src="assets/images/logo.svg" alt="">
  
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item ">
                    <p></p>
                </li>
            </ul>
  
        </div>
    </nav>
    
    <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
        

        
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
          <a class="navbar-brand" href="{{baseUrlSIIN}}/menu-principal">
            <img src="assets/images/LogoMinsalud.png" height="50" class="d-inline-block align-top" alt="incapacidades">
          </a>
           
           
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div>
              <h3 class="texto-header1">MINISTERIO DE SALUD Y PROTECCIÓN SOCIAL</h3>
            </div>
            <div>
              <h3 class="texto-header1">SISTEMA DE INFORMACIÓN DE PRESTACIONES ECONÓMICAS DEL SGSSS</h3>
            </div>
            <div>
              <h3 class="texto-header2">MÓDULO DE INCAPACIDADES-SIPE</h3>
            </div>
          </div>


        </div>
    </nav>
  
  </header> 
