.bs-stepper-content{

  padding: 0px;
  }
  .content{
    align-items: center;
  }
  .container{
  
    align-items: center;
  }
  
  .table td, .table th {
      
    vertical-align: baseline; 
    font-size: 14px;
  }