.modal-body {
    padding: 20px;
    display: flex;
    flex-direction: column;
    input {
      margin-bottom: 10px;
    }
  }
  
  
.modal-footer {
  display: block;
} 

//   .modal-backdrop {
//     z-index: 1040;
// }

// .modal-backdrop.fade {
//     opacity: 0;
//     filter: alpha(opacity=0);
//     }
//     .modal-backdrop.in {
//     opacity: 0.5;
//     filter: alpha(opacity=50);
//     }
    
