<br>
<h2 class="modal-title">Registrar Tipo Prestación</h2>
<br>
<div class="row">
  <div class="col-md-4">
    <div class="form-group">
      <label >Fecha en que Emitió el Concepto la EPS/ARL</label>
      <input type="text" name="tipo_de_dato"/>                
    </div>
  </div>

    <div class="col-md-4">
        <div class="form-group">
          <label >Número Concepto</label>
          <input type="text" name="tipo_de_dato"/>                
        </div>
    </div>
        

        <div class="col-md-4">
            <div class="form-group">
              <label >Concepto Rehabilitación</label>
              <input type="text" name="tipo_de_dato"/>                
            </div>
        </div>


            <div class="col-md-4">
                <div class="form-group">
                  <label >Identificación del profesional de salud que emitió el concepto</label>
                  <input type="text" name="tipo_de_dato"/>                
                </div>
            </div>



            <div class="col-md-4">
                <div class="form-group">
                  <label >Observaciones</label>
                  <input type="text" name="tipo_de_dato"/>                
                </div>
            </div>



</div>






