<br>
<h2 class="modal-title">Consulta por Información de la Persona</h2>
<br>
<div class="row">

  <!-- Cekda vacia -->
  <div class="col-md-3">
    <div class="form-group">
                 
    </div>
  </div>

  <div class="col-md-3">
    <div class="form-group">
      <label >Tipo Documento Paciente</label>
      <input type="text" name="tipo_de_dato"/>                
    </div>
  </div>

  <div class="col-md-3">
    <div class="form-group">
      <label >Número Documento Paciente</label>
      <input type="text" name="tipo_de_dato"/>                
    </div>
  </div>
  
<!-- Celda vacia -->
  <div class="col-md-3">
    <div class="form-group">
                 
    </div>
  </div>
  <!-- Celda vacia -->
  <div class="col-md-3">
    <div class="form-group">
                 
    </div>
  </div>
</div>

<div class="row">          
    <div class="col text-center">                               
    
      <button type="" class="btn btn-primary">Siguiente</button>           
  </div>
</div>

<div class="container">
   <app-modal-confirmar ></app-modal-confirmar> 

   <div class="row">
    <div class="col text-center">
    <button class="btn btn-round btn-high">Imprimir</button>
    &nbsp;
    <button (click)="goBack()" class="btn btn-round btn-high">Regresar</button>
   </div>  
  </div>
  
</div>

  <div class="container">
    <app-registrar-prestacion ></app-registrar-prestacion> 
   </div>

   <div class="container">
    <app-incapacidad-informacion ></app-incapacidad-informacion> 
   </div>

<!-- fin Prueba -->



<!-- 


<div class="container">
  <div id="stepper1" class="bs-stepper">
    <div class="bs-stepper-header">
      <div class="step" data-target="#test-l-1">
        <button class="step-trigger">
          <span class="bs-stepper-circle">1</span>
          <span class="bs-stepper-label">Consultar</span>
        </button> 
      </div>
        <div class="line"></div>
        <div class="step" data-target="#test-l-2">
          <button class="step-trigger">
            <span class="bs-stepper-circle">2</span>
            <span class="bs-stepper-label">Registro Tipo de Prestación</span>
          </button>
        </div>
        <div class="line"></div>
        <div class="step" data-target="#test-l-3">
          <button class="step-trigger">
            <span class="bs-stepper-circle">2</span>
            <span class="bs-stepper-label">Detalle Incapacidad</span>
          </button>
        </div>
      </div>
      <div class="bs-stepper-content">
          <div id="test-l-1" class="content">
            <br>
            <h2 class="modal-title">Consulta Información Incapacidad </h2>
            <br>
            <div class="row">

                <div class="col-md-6">
                    <div class="form-group">
                        <label >Número de Incapacidad</label>
                        <input type="text" name="tipo_de_dato"/>;     
                    </div>
                  </div>  

                  <div class="col-md-6">
                    <div class="form-group">
                        <label ></label>
                           
                    </div>
                  </div>  

              <div class="col-md-6">
                <div class="form-group">
                  <label >Tipo Documento</label>
                  <input type="text" name="tipo_de_dato"/>          
                  
                </div>
              </div>
  
              <div class="col-md-6">
                  <div class="form-group">
                      <label >Número Documento</label>
                      <input type="text" name="tipo_de_dato"/>                      
                    
                  </div>
              </div>
            </div>
            
            <div class="row">          
              <div class="col text-center">                               
                <button type="submit" class="btn btn-primary">Siguiente</button>           
            </div>
         </div>
      </div>
          <div id="test-l-2" class="content">
  
  <div class="container">
    <app-incapacidad-informacion ></app-incapacidad-informacion>
  </div>
  
          <div class="row">
            <div class="col text-center">
            <button >Imprimir</button>
            &nbsp;
            <button >Regresar</button>
           </div>  
          </div> 
          
       
          </div>
          
        
    
    

    </div>
    </div>
</div>  -->