<br>
<footer >
    <div class="footer"></div>
        <div class="" >
            <div class="row">
                
                <div class="col-md-2">
                    <div class="form-group">
                        <img class="gov-footer-img" src="assets/images/logo.svg" alt="">
                        <img class="" src="assets/images/gov.co_co-footer.png" alt="">
                    </div>
                </div>
                <div class="col-md-6" >
                    
                        <p > SISTEMA DE INFORMACIÓN DE PRESTACIONES ECONÓMICAS DEL SGSSS 
                            <br >
                            <b > Carrera 13 No. 32-76 piso 1, Bogotá, </b>
                                <br >Código postal 110311
                        </p>
                        <p >Última actualización: 
                                <br > jueves, 23 de noviembre de 2023
                        </p>
                </div>
                <div class="col-md-4" >
                  <p>
                    <b>Contacto Mesa de Ayuda:</b>
                    <br>Tel: en Bogotá +57 (601) 330 5043 o resto del país 018000 960020
                    <br>soporte-sipe@minsalud.gov.co
                    <br>Horario de Atención: Lunes a Viernes 7am a 6pm, sabados de 8am a 1pm jornada continua
                  </p>
                </div>
                
            </div>
            <div class="row">
                <div class="col">
                    
                </div>
            </div>
        </div>
</footer>

<!-- <footer class="mt-4">
    <div class="grid3x-footer container">

        <div class="box-footer">
            <div>
                <img src="" alt="">

                <p>
                    <b>Horario de atención:</b><br>
                    Lunes a Viernes <br>

                    <b>de 7:00 a.m. - 9:00 p.m. <br>Sábados de 8:00 a.m. - 1:00 p.m.</b>  <br>Jornada continua.
                </p>
                <p>
                    Línea de orientación sobre  <br>CORONAVIRUS - COVID-19: <br>
                    Desde fijo o celular marque: <b>192</b>
                </p>

                <p>
                    Conmutador:<br>
                    <b> +57(601) 330 5000 <br> Central de fax: +57(601) 330 5050</b><br><br><br>
                </p> <br>
            </div>


        </div>

        <div class="box-footer">
            <div>
                <p>
                    Punto de atención presencial: <br>
                    <b>
                        Carrera 13 No. 32-76 piso 1, Bogotá, <br>Código postal 110311<br>
                        Lunes - viernes de 8:00 a.m. a 4:00 p.m.
                    </b><br> jornada continua<br><br>

                    Línea de atención de desastres:<br>
                    <b> +57(601) 330 5071 - 24 horas</b><br><br>

                    Atención telefónica a través del Centro de Contacto:<br>
                    <b>En Bogotá: +57(601) 330 5043 <br>Resto del país: 018000960020</b>
                </p>

                <p>Última actualización: <br> miércoles, 15 de diciembre de 2021</p>
            </div>

        </div>

        <div class="box-footer">
            <div class="redes-right">

                <div class="solicitud">
                    <p>
                        <a href="https://www.minsalud.gov.co/atencion/Paginas/Solicitudes-sugerencias-quejas-o-reclamos.aspx">
                            Solicitudes, sugerencias y reclamos  PQRSD
                            Términos y condiciones de uso. Notificaciones judiciales
                        </a>
                    </p>

                </div>

                <div class="share pt-1">
                    <p><a target="_blank" href="https://www.facebook.com/MinSaludCol"><span class="span-redes"><i class="fab fa-facebook-f" aria-hidden="true"></i></span></a></p>
                    <p><a target="_blank" href="https://instagram.com/minsaludcol/"><span class="span-redes"><i class="fab fa-instagram" aria-hidden="true"></i></span></a></p>
                    <p><a target="_blank" href="https://twitter.com/MinSaludCol"><span class="span-redes"><i class="fab fa-twitter" aria-hidden="true"></i></span></a></p>
                </div>
                <div class="share pt-1">
                    <p><a target="_blank" href="https://www.youtube.com/user/MinSaludColPrensa"><span class="span-redes"><i class="fab fa-youtube" aria-hidden="true"></i></span></a></p>
                    <p><a target="_blank" href="https://www.linkedin.com/company/minsaludcol/"><span class="span-redes"><i class="fab fa-linkedin" aria-hidden="true"></i></span></a></p>
                    <p><a target="_blank" href="https://www.minsalud.gov.co/atencion/Paginas/rss-msps2.aspx"><span class="span-redes"><i class="fas fa-rss" aria-hidden="true"></i></span></a></p>
                </div>

                <div>
                    <p>
                        <a target="_blank" href="https://www.minsalud.gov.co/Paginas/Certificacion-ISO-27001-MinSalud.aspx"><img src="https://www.minsalud.gov.co/imgLayout/iso27001-icon.png" alt=""></a>
                    </p>
                </div>

            </div>
        </div>
    </div>
</footer>
<footer class="py-3 nav-gov-footer">
    <div class="container footer-gov">
        <img class="co-footer-img" src="https://idm.presidencia.gov.co/SiteCollectionImages/gov.co_co-footer.png" alt="">
        <img class="gov-footer-img" src="https://cdn.www.gov.co/assets/images/logo.svg" alt="">
    </div>
</footer> -->
