<div class="container">     
    <div class="row justify-content-center">             
        <div class="col-sm-4">  
            <label class="DatosusuarioComponent" >Login:&nbsp;</label>          
            <label class="DatosusuarioComponentBold" for="NombreUsuario"> {{login}} </label>
        </div>       
    
        <div class="col-sm-4">  
            <label class="DatosusuarioComponent">Usuario:&nbsp;</label>          
            <label class="DatosusuarioComponentBold" for="usuario">{{usuario}} </label>
        </div>   
        <div class="col-sm-4">  
            <label class="DatosusuarioComponent">Rol:&nbsp;</label>          
            <label class="DatosusuarioComponentBold" for="rol">{{rol}}</label>
        </div>    

        <div class="col-sm-4">  
            <label class="DatosusuarioComponent">NIT Entidad:&nbsp;</label>          
            <label class="DatosusuarioComponentBold" for="numEntidad">{{numEntidad}}</label>
        </div>       

        <div class="col-sm-4">  
            <label class="DatosusuarioComponent">Entidad:&nbsp;</label>          
            <label class="DatosusuarioComponentBold" for="entidad">{{entidad}}</label>
        </div>   
        <div class="col-sm-4">  
            <label class="DatosusuarioComponent">Código:&nbsp;</label>          
            <label class="DatosusuarioComponentBold" for="rol">{{codigoEntidad}}</label>
        </div>   
    </div>
</div>
