.modal-body {
    display: flex;
    flex-direction: column;
    input {
      margin-bottom: 10px;
    }
  }

  .texto-modal-1{
      font-size: 1.5em;
      color: #004884;
  }
  
  .text-size{
    font-size: 0.9em;
  }
