<div class="container">

    <div class="row">
      <div class="col-2"></div>
      <div class="table-responsive col-8">          
        <table class="table table-bordered">
          <tbody>
            <tr >
              <td><strong>Fecha de registro del concepto de rehabilitación</strong></td>
              <td></td>
            </tr>
            <tr>
              <td><strong>Fecha Emitió Concepto la EPS/ARL</strong></td>
              <td></td>
            </tr>
            <tr>
              <td><strong>Número Concepto ingresado</strong></td>
              <td></td>
            </tr>
            <tr>
              <td><strong>Concepto Rehabilitación ingresado </strong></td>
              <td></td>
            </tr>
            <tr>
              <td><strong>Observaciones</strong></td>
              <td></td>
            </tr>
            <tr>
              <td><strong>Identificación del profesional que emitió el concepto</strong></td>
              <td></td>
            </tr>
            <tr>
              <td><strong>Identificación de la entidad responsable del concepto de rehabilitación</strong></td>
              <td></td>
            </tr>
            
  
            <tr>
              <td><strong>Identificación de la persona que registra el concepto de acuerdo con el perfil asignado</strong></td>
              <td></td>
            </tr>
            
             
          
          </tbody>
        </table>
      </div>
      <div class="col-2"></div>
    </div>
  </div>
